
html
    head
        <link rel="stylesheet" href="/style.css">
        


        title= title
    body 
    
        h1= message
        p(style="font-family: Arial;color:red") This is a basic program of pug with express
    
        p Here's a list of items:
        ul 
        each item in items 
                li=item 
        h1 hai
        img(src="/image/pug.jpg" alt="" width="300" height="300")
    

